We welcome you all to the case-based project of this course. This project has 2 case studies.
The first case study (described below - 30 points) covers concepts taught in Part 1 (the first 8
hours of Neural networks basics).

1st case study - Project 1:

The case study is from an open-source dataset from Kaggle.

Link to the Kaggle project site:
https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling


Given a Bank customer, can we build a classifier that can determine whether they will leave or not using Neural networks?

Case file:
bank.csv


The points distribution for this case is as follows:
1. Read the dataset
2. Drop the columns which are unique for all users like IDs (2.5 points)
3. Distinguish the feature and target set (2.5 points)
4. Divide the data set into train and test sets
5. Normalize the train and test data (2.5 points)
6. Initialize & build the model (10 points)
7. Optimize the model (5 points)
9. Predict the results using 0.5 as a threshold (5 points)
10. Print the Accuracy score and confusion matrix (2.5 points)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

In [0]:
bank_df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Churn.csv')

## 1. Read the dataset

In [4]:
bank_df.head(5)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

## 2. Drop the columns which are unique for all users like IDs

In [6]:
bank_df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [0]:
# Since RowNumber and CustomerId are unique for all the users, dropping the columns
bank_df.drop(['RowNumber','CustomerId'],axis=1,inplace=True)

In [8]:
#Finding the number of counts in each categorical columns
for i in bank_df.columns:
    if bank_df[i].dtype == 'O':
        print(i,'->',len(bank_df[i].value_counts()))

Surname -> 2932
Geography -> 3
Gender -> 2

In [0]:
# Since Surname column is also unique for all users, dropping the column
bank_df.drop(columns = ['Surname'],inplace=True)

In [10]:
#Finding the number of counts in each categorical columns
for i in bank_df.columns:
    if bank_df[i].dtype == 'O':
        print(i,'->',len(bank_df[i].value_counts()))

Geography -> 3
Gender -> 2

In [0]:
# Since Geography and Gender are Categorical data, applying labelencoding on the data
# bank_df=pd.get_dummies(bank_df,columns=['Geography','Gender'],drop_first=True)

In [0]:
#Manual Encoding
bank_df.replace({'France':0,'Germany':1,'Spain':2,'Male':0,'Female':1},inplace=True)

In [13]:
bank_df.head()

   CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619          0       1  ...               1        101348.88       1
1          608          2       1  ...               1        112542.58       0
2          502          0       1  ...               0        113931.57       1
3          699          0       1  ...               0         93826.63       0
4          850          2       1  ...               1         79084.10       0

[5 rows x 11 columns]

## 3. Distinguish the feature and target set

In [0]:
from sklearn.model_selection import train_test_split

X = bank_df.drop("Exited", axis=1)
X = X.drop({'Geography','Gender'}, axis=1)
X = X.astype('float32')

In [0]:
y = bank_df[['Exited']]
y = y.astype('float32')

In [0]:
X = np.array(X)
y = np.array(y)

In [17]:
X.dtype

dtype('float32')

## 4. Divide the data set into train and test sets

In [0]:
train_set, test_set, train_labels, test_labels = train_test_split(X, y, test_size=0.30, random_state=1)

## 5. Normalize the train and test data

In [19]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

In [0]:
import tensorflow as tf

In [0]:
!pip3 install -U tensorflow --quiet

In [22]:
tf.__version__

'2.0.0'

In [23]:
import keras

Using TensorFlow backend.

## 6. Initialize & build the model

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer()
train_set = transformer.fit_transform(train_set)

In [0]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(2, activation='softmax'))

model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

## 7. Optimize the model

In [26]:
model.fit(train_set, train_labels, 
          validation_data=(test_set, test_labels), 
          epochs=100,
          batch_size=32)

Train on 7000 samples, validate on 3000 samples
Epoch 1/100
7000/7000 [==============================] - 1s 209us/sample - loss: 0.2819 - accuracy: 0.7103 - val_loss: 7061.6962 - val_accuracy: 1.0000
Epoch 2/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2800 - accuracy: 0.6194 - val_loss: 6329.5381 - val_accuracy: 1.0000
Epoch 3/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2796 - accuracy: 0.6104 - val_loss: 6060.1251 - val_accuracy: 1.0000
Epoch 4/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2795 - accuracy: 0.6139 - val_loss: 5898.6276 - val_accuracy: 1.0000
Epoch 5/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2794 - accuracy: 0.6203 - val_loss: 5767.3917 - val_accuracy: 1.0000
Epoch 6/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.6270 - val_loss: 5658.0263 - val_accuracy: 1.0000
Epoch 7/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2793 - accuracy: 0.6307 - val_loss: 5561.1420 - val_accuracy: 1.0000
Epoch 8/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.6100 - val_loss: 5477.6487 - val_accuracy: 1.0000
Epoch 9/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.5807 - val_loss: 5405.9740 - val_accuracy: 1.0000
Epoch 10/100
7000/7000 [==============================] - 0s 70us/sample - loss: 0.2793 - accuracy: 0.5554 - val_loss: 5345.2609 - val_accuracy: 1.0000
Epoch 11/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.5331 - val_loss: 5290.0087 - val_accuracy: 1.0000
Epoch 12/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.5176 - val_loss: 5241.1685 - val_accuracy: 1.0000
Epoch 13/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2793 - accuracy: 0.5049 - val_loss: 5190.7786 - val_accuracy: 1.0000
Epoch 14/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2793 - accuracy: 0.4927 - val_loss: 5150.0857 - val_accuracy: 1.0000
Epoch 15/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2793 - accuracy: 0.4883 - val_loss: 5105.2134 - val_accuracy: 1.0000
Epoch 16/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2793 - accuracy: 0.4791 - val_loss: 5067.0930 - val_accuracy: 1.0000
Epoch 17/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4744 - val_loss: 5030.4595 - val_accuracy: 1.0000
Epoch 18/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4703 - val_loss: 4994.7588 - val_accuracy: 1.0000
Epoch 19/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4679 - val_loss: 4959.4574 - val_accuracy: 1.0000
Epoch 20/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.4650 - val_loss: 4925.0149 - val_accuracy: 1.0000
Epoch 21/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2793 - accuracy: 0.4624 - val_loss: 4891.5184 - val_accuracy: 1.0000
Epoch 22/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4621 - val_loss: 4859.2765 - val_accuracy: 1.0000
Epoch 23/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2793 - accuracy: 0.4611 - val_loss: 4827.9103 - val_accuracy: 1.0000
Epoch 24/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4614 - val_loss: 4795.8422 - val_accuracy: 1.0000
Epoch 25/100
7000/7000 [==============================] - 0s 70us/sample - loss: 0.2793 - accuracy: 0.4606 - val_loss: 4766.5118 - val_accuracy: 1.0000
Epoch 26/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4613 - val_loss: 4732.5092 - val_accuracy: 1.0000
Epoch 27/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2793 - accuracy: 0.4604 - val_loss: 4701.6725 - val_accuracy: 1.0000
Epoch 28/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4593 - val_loss: 4673.2753 - val_accuracy: 1.0000
Epoch 29/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4597 - val_loss: 4641.8587 - val_accuracy: 1.0000
Epoch 30/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.4600 - val_loss: 4611.6593 - val_accuracy: 1.0000
Epoch 31/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4593 - val_loss: 4582.4931 - val_accuracy: 1.0000
Epoch 32/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2793 - accuracy: 0.4597 - val_loss: 4551.2931 - val_accuracy: 1.0000
Epoch 33/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.4584 - val_loss: 4523.0684 - val_accuracy: 1.0000
Epoch 34/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.4594 - val_loss: 4493.5942 - val_accuracy: 1.0000
Epoch 35/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4586 - val_loss: 4466.0195 - val_accuracy: 1.0000
Epoch 36/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.4603 - val_loss: 4435.3454 - val_accuracy: 1.0000
Epoch 37/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2793 - accuracy: 0.4587 - val_loss: 4409.0961 - val_accuracy: 1.0000
Epoch 38/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.4593 - val_loss: 4379.8879 - val_accuracy: 1.0000
Epoch 39/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4593 - val_loss: 4351.5896 - val_accuracy: 1.0000
Epoch 40/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2793 - accuracy: 0.4600 - val_loss: 4323.6116 - val_accuracy: 1.0000
Epoch 41/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4590 - val_loss: 4297.2069 - val_accuracy: 1.0000
Epoch 42/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.4599 - val_loss: 4269.9432 - val_accuracy: 1.0000
Epoch 43/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4594 - val_loss: 4244.0674 - val_accuracy: 1.0000
Epoch 44/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2793 - accuracy: 0.4601 - val_loss: 4216.3028 - val_accuracy: 1.0000
Epoch 45/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.4599 - val_loss: 4189.4088 - val_accuracy: 1.0000
Epoch 46/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4599 - val_loss: 4164.2478 - val_accuracy: 1.0000
Epoch 47/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4599 - val_loss: 4137.4866 - val_accuracy: 1.0000
Epoch 48/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.4597 - val_loss: 4110.6874 - val_accuracy: 1.0000
Epoch 49/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2793 - accuracy: 0.4599 - val_loss: 4085.5856 - val_accuracy: 1.0000
Epoch 50/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2793 - accuracy: 0.4600 - val_loss: 4060.2853 - val_accuracy: 1.0000
Epoch 51/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2793 - accuracy: 0.4610 - val_loss: 4033.6143 - val_accuracy: 1.0000
Epoch 52/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2793 - accuracy: 0.4603 - val_loss: 4008.7969 - val_accuracy: 1.0000
Epoch 53/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2793 - accuracy: 0.4619 - val_loss: 3979.8924 - val_accuracy: 1.0000
Epoch 54/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2793 - accuracy: 0.4597 - val_loss: 3957.4405 - val_accuracy: 1.0000
Epoch 55/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2793 - accuracy: 0.4607 - val_loss: 3933.0281 - val_accuracy: 1.0000
Epoch 56/100
7000/7000 [==============================] - 1s 72us/sample - loss: 0.2793 - accuracy: 0.4607 - val_loss: 3908.5918 - val_accuracy: 1.0000
Epoch 57/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2793 - accuracy: 0.4617 - val_loss: 3880.7235 - val_accuracy: 1.0000
Epoch 58/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2792 - accuracy: 0.4604 - val_loss: 3857.9554 - val_accuracy: 1.0000
Epoch 59/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2792 - accuracy: 0.4614 - val_loss: 3833.1392 - val_accuracy: 1.0000
Epoch 60/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2792 - accuracy: 0.4614 - val_loss: 3808.6679 - val_accuracy: 1.0000
Epoch 61/100
7000/7000 [==============================] - 1s 72us/sample - loss: 0.2792 - accuracy: 0.4614 - val_loss: 3784.8835 - val_accuracy: 1.0000
Epoch 62/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4613 - val_loss: 3762.1880 - val_accuracy: 1.0000
Epoch 63/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2792 - accuracy: 0.4616 - val_loss: 3737.4758 - val_accuracy: 1.0000
Epoch 64/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4617 - val_loss: 3712.9435 - val_accuracy: 1.0000
Epoch 65/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2792 - accuracy: 0.4611 - val_loss: 3691.7783 - val_accuracy: 1.0000
Epoch 66/100
7000/7000 [==============================] - 0s 61us/sample - loss: 0.2792 - accuracy: 0.4621 - val_loss: 3668.3608 - val_accuracy: 1.0000
Epoch 67/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2792 - accuracy: 0.4620 - val_loss: 3644.1319 - val_accuracy: 1.0000
Epoch 68/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4614 - val_loss: 3621.5090 - val_accuracy: 1.0000
Epoch 69/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4623 - val_loss: 3597.7931 - val_accuracy: 1.0000
Epoch 70/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2792 - accuracy: 0.4619 - val_loss: 3576.2419 - val_accuracy: 1.0000
Epoch 71/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2792 - accuracy: 0.4623 - val_loss: 3554.6920 - val_accuracy: 1.0000
Epoch 72/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2792 - accuracy: 0.4619 - val_loss: 3533.1107 - val_accuracy: 1.0000
Epoch 73/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4620 - val_loss: 3510.5625 - val_accuracy: 1.0000
Epoch 74/100
7000/7000 [==============================] - 0s 62us/sample - loss: 0.2792 - accuracy: 0.4617 - val_loss: 3488.9306 - val_accuracy: 1.0000
Epoch 75/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4623 - val_loss: 3467.6794 - val_accuracy: 1.0000
Epoch 76/100
7000/7000 [==============================] - 0s 62us/sample - loss: 0.2792 - accuracy: 0.4624 - val_loss: 3445.5439 - val_accuracy: 1.0000
Epoch 77/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2792 - accuracy: 0.4627 - val_loss: 3424.5058 - val_accuracy: 1.0000
Epoch 78/100
7000/7000 [==============================] - 0s 66us/sample - loss: 0.2792 - accuracy: 0.4624 - val_loss: 3403.4101 - val_accuracy: 1.0000
Epoch 79/100
7000/7000 [==============================] - 0s 68us/sample - loss: 0.2792 - accuracy: 0.4630 - val_loss: 3381.0382 - val_accuracy: 1.0000
Epoch 80/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2792 - accuracy: 0.4630 - val_loss: 3359.9041 - val_accuracy: 1.0000
Epoch 81/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4639 - val_loss: 3337.6724 - val_accuracy: 1.0000
Epoch 82/100
7000/7000 [==============================] - 0s 61us/sample - loss: 0.2792 - accuracy: 0.4633 - val_loss: 3318.6931 - val_accuracy: 1.0000
Epoch 83/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2792 - accuracy: 0.4634 - val_loss: 3297.2969 - val_accuracy: 1.0000
Epoch 84/100
7000/7000 [==============================] - 0s 65us/sample - loss: 0.2792 - accuracy: 0.4630 - val_loss: 3277.3332 - val_accuracy: 1.0000
Epoch 85/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4643 - val_loss: 3255.0658 - val_accuracy: 1.0000
Epoch 86/100
7000/7000 [==============================] - 0s 63us/sample - loss: 0.2792 - accuracy: 0.4636 - val_loss: 3236.0030 - val_accuracy: 1.0000
Epoch 87/100
7000/7000 [==============================] - 0s 64us/sample - loss: 0.2792 - accuracy: 0.4643 - val_loss: 3215.3198 - val_accuracy: 1.0000
Epoch 88/100
7000/7000 [==============================] - 0s 67us/sample - loss: 0.2792 - accuracy: 0.4630 - val_loss: 3197.2530 - val_accuracy: 1.0000
Epoch 89/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2792 - accuracy: 0.4650 - val_loss: 3176.9379 - val_accuracy: 1.0000
Epoch 90/100
7000/7000 [==============================] - 1s 72us/sample - loss: 0.2792 - accuracy: 0.4639 - val_loss: 3157.8459 - val_accuracy: 1.0000
Epoch 91/100
7000/7000 [==============================] - 1s 72us/sample - loss: 0.2792 - accuracy: 0.4644 - val_loss: 3138.0679 - val_accuracy: 1.0000
Epoch 92/100
7000/7000 [==============================] - 1s 73us/sample - loss: 0.2792 - accuracy: 0.4640 - val_loss: 3118.5180 - val_accuracy: 1.0000
Epoch 93/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2792 - accuracy: 0.4643 - val_loss: 3098.8838 - val_accuracy: 1.0000
Epoch 94/100
7000/7000 [==============================] - 0s 70us/sample - loss: 0.2792 - accuracy: 0.4641 - val_loss: 3080.2881 - val_accuracy: 1.0000
Epoch 95/100
7000/7000 [==============================] - 0s 70us/sample - loss: 0.2792 - accuracy: 0.4651 - val_loss: 3060.7347 - val_accuracy: 1.0000
Epoch 96/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2792 - accuracy: 0.4654 - val_loss: 3040.0007 - val_accuracy: 1.0000
Epoch 97/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2792 - accuracy: 0.4646 - val_loss: 3021.3635 - val_accuracy: 1.0000
Epoch 98/100
7000/7000 [==============================] - 0s 71us/sample - loss: 0.2792 - accuracy: 0.4644 - val_loss: 3004.7219 - val_accuracy: 1.0000
Epoch 99/100
7000/7000 [==============================] - 0s 69us/sample - loss: 0.2792 - accuracy: 0.4649 - val_loss: 2985.7207 - val_accuracy: 1.0000
Epoch 100/100
7000/7000 [==============================] - 1s 76us/sample - loss: 0.2792 - accuracy: 0.4660 - val_loss: 2965.5895 - val_accuracy: 1.0000

In [27]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                multiple                  18
=================================================================
Total params: 18
Trainable params: 18
Non-trainable params: 0
_________________________________________________________________

## 9. Predict the results using 0.5 as a threshold

In [0]:
w = tf.zeros(shape=(8,1))
b = tf.zeros(shape=(1))

In [0]:
def prediction(x, w, b):
    
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

In [0]:
def loss(y_actual, y_predicted):
    
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

In [0]:
def train(x, y_actual, w, b, learning_rate=0.5):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

In [32]:
for i in range(100):
    
    w, b = train(train_set, train_labels, w, b,learning_rate=0.5)
    print('Current Loss on iteration', i, loss(train_labels, prediction(train_set, w, b)).numpy())

Current Loss on iteration 0 0.18394153
Current Loss on iteration 1 0.17357147
Current Loss on iteration 2 0.1674215
Current Loss on iteration 3 0.1637743
Current Loss on iteration 4 0.16161068
Current Loss on iteration 5 0.16032697
Current Loss on iteration 6 0.15956557
Current Loss on iteration 7 0.15911308
Current Loss on iteration 8 0.15884472
Current Loss on iteration 9 0.15868485
Current Loss on iteration 10 0.1585897
Current Loss on iteration 11 0.15853271
Current Loss on iteration 12 0.1584987
Current Loss on iteration 13 0.15847796
Current Loss on iteration 14 0.15846527
Current Loss on iteration 15 0.15845731
Current Loss on iteration 16 0.15845248
Current Loss on iteration 17 0.15844901
Current Loss on iteration 18 0.15844648
Current Loss on iteration 19 0.15844475
Current Loss on iteration 20 0.15844326
Current Loss on iteration 21 0.15844205
Current Loss on iteration 22 0.15844104
Current Loss on iteration 23 0.15843996
Current Loss on iteration 24 0.15843911
Current Loss on iteration 25 0.15843815
Current Loss on iteration 26 0.15843733
Current Loss on iteration 27 0.15843639
Current Loss on iteration 28 0.15843546
Current Loss on iteration 29 0.15843464
Current Loss on iteration 30 0.15843388
Current Loss on iteration 31 0.15843304
Current Loss on iteration 32 0.15843222
Current Loss on iteration 33 0.15843149
Current Loss on iteration 34 0.15843064
Current Loss on iteration 35 0.15842992
Current Loss on iteration 36 0.15842916
Current Loss on iteration 37 0.15842836
Current Loss on iteration 38 0.15842767
Current Loss on iteration 39 0.15842688
Current Loss on iteration 40 0.1584262
Current Loss on iteration 41 0.1584255
Current Loss on iteration 42 0.15842485
Current Loss on iteration 43 0.15842411
Current Loss on iteration 44 0.15842341
Current Loss on iteration 45 0.15842275
Current Loss on iteration 46 0.15842205
Current Loss on iteration 47 0.15842138
Current Loss on iteration 48 0.15842068
Current Loss on iteration 49 0.1584201
Current Loss on iteration 50 0.15841945
Current Loss on iteration 51 0.15841888
Current Loss on iteration 52 0.15841821
Current Loss on iteration 53 0.15841766
Current Loss on iteration 54 0.15841696
Current Loss on iteration 55 0.15841636
Current Loss on iteration 56 0.15841582
Current Loss on iteration 57 0.15841518
Current Loss on iteration 58 0.15841469
Current Loss on iteration 59 0.15841411
Current Loss on iteration 60 0.1584135
Current Loss on iteration 61 0.15841298
Current Loss on iteration 62 0.15841241
Current Loss on iteration 63 0.1584119
Current Loss on iteration 64 0.15841135
Current Loss on iteration 65 0.15841085
Current Loss on iteration 66 0.15841037
Current Loss on iteration 67 0.1584098
Current Loss on iteration 68 0.1584093
Current Loss on iteration 69 0.15840879
Current Loss on iteration 70 0.15840825
Current Loss on iteration 71 0.15840788
Current Loss on iteration 72 0.15840733
Current Loss on iteration 73 0.15840691
Current Loss on iteration 74 0.15840642
Current Loss on iteration 75 0.15840593
Current Loss on iteration 76 0.15840551
Current Loss on iteration 77 0.15840504
Current Loss on iteration 78 0.15840457
Current Loss on iteration 79 0.15840417
Current Loss on iteration 80 0.15840368
Current Loss on iteration 81 0.15840325
Current Loss on iteration 82 0.1584029
Current Loss on iteration 83 0.15840249
Current Loss on iteration 84 0.15840207
Current Loss on iteration 85 0.1584017
Current Loss on iteration 86 0.15840122
Current Loss on iteration 87 0.1584008
Current Loss on iteration 88 0.15840048
Current Loss on iteration 89 0.15840003
Current Loss on iteration 90 0.15839967
Current Loss on iteration 91 0.15839931
Current Loss on iteration 92 0.15839891
Current Loss on iteration 93 0.15839858
Current Loss on iteration 94 0.15839821
Current Loss on iteration 95 0.15839784
Current Loss on iteration 96 0.1583975
Current Loss on iteration 97 0.15839712
Current Loss on iteration 98 0.15839677
Current Loss on iteration 99 0.15839647

## 10. Print the Accuracy score and confusion matrix

In [0]:
from sklearn.metrics import accuracy_score
y_predict = model.predict_classes(test_set, verbose=0)

In [34]:
# accuracy: (tp + tn) / (p + n)
accuracy = accuracy_score(test_labels, y_predict)
print('Accuracy: %f' % accuracy)

Accuracy: 0.791000

In [35]:
# precision tp / (tp + fp)
from sklearn.metrics import precision_score
precision = precision_score(test_labels, y_predict)
print('Precision: %f' % precision)

Precision: 0.000000

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [36]:
# recall: tp / (tp + fn)
from sklearn.metrics import recall_score
recall = recall_score(test_labels, y_predict)
print('Recall: %f' % recall)

Recall: 0.000000

In [37]:
# f1: 2 tp / (2 tp + fp + fn)
from sklearn.metrics import f1_score
f1 = f1_score(test_labels, y_predict)
print('F1 score: %f' % f1)

F1 score: 0.000000

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [38]:
from sklearn.metrics import confusion_matrix
# confusion matrix
matrix = confusion_matrix(test_labels, y_predict)
print(matrix)

[[2373    0]
 [ 627    0]]